<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.bootcdn.net/ajax/libs/normalize/8.0.0/normalize.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/side.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="side-bar">
        <div class="header">
            <a href="#" class="logo">Void</a>
            <div class="intro">Lorem ipsum dolor sit amet consectetur</div>
        </div>
        <div class="nav">

        </div>
        <div class="tag-list">
            <div>关于我</div>
            <div>联系我</div>
            <div>赞助我</div>
        </div>
    </div>

    <div class="main">
        <div class="article">
            <!-- <div class="title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis, sit.</div>
            <div class="status">
                <div class="update">发布于: 2022-3-10</div>
                <div class="author">作者: Void</div>
                <div class="tag">标签: Python</div>
            </div>
            <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, est voluptate doloremque repellendus minima natus quia tenetur hic eaque! Eius assumenda nobis aspernatur sit fugiat consectetur quibusdam velit reiciendis quis?</div> -->
        </div>
    </div>

    <script src="/static/js/side.js"></script>
    <script src="/static/js/blog.js"></script>
    
</body>
</html>